
@model IEnumerable<UMovies.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.ToList().Count <= 0)
{
    <h4>No Customers in the list</h4>
    @Html.ActionLink("Create Customer", "Create", "Customers")
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Customer</td>
            <td>Membership Type</td>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "EditCustomer",new { id = item.CustomerID })</td>
                <td>@item.MembershipType.Name</td>
            </tr>
        }
    </tbody>
   
</table>
}


@Html.ActionLink("Create New Customer","NewCustomer")

